In [13]:
import pandas as pd

In [14]:
input_df=pd.read_csv('test.csv')

In [15]:
import pickle

In [16]:
import os

file_path = "CHEVROLET_DAEWOO_RAVON_LGBM_tencoded.pkl"
if os.path.exists(file_path):
    if os.path.getsize(file_path) > 0:
        with open(file_path, "rb") as f:
            model = pickle.load(f)
    else:
        print("⚠ File exists but is empty!")
else:
    print("⚠ Model file not found!")

In [17]:
print("Model expects:", model.feature_name_)
print("Input columns:", input_df.columns.tolist())

Model expects: ['transmission', 'mileage', 'release_year', 'engine_volume', 'brand_type', 'Air_Conditioner', 'Security_System', 'Parking_Sensors', 'Customs_Cleared', 'Power_Windows', 'Power_Mirrors', 'year', 'time_idx', 'month_sin', 'month_cos', 'car_name_tencoded', 'fuel_type_tencoded', 'item_type_tencoded', 'owners_count_tencoded', 'car_condition_tencoded', 'color_tencoded', 'body_type_tencoded', 'state_tencoded']
Input columns: ['transmission', 'mileage', 'release_year', 'engine_volume', 'brand_type', 'Air_Conditioner', 'Security_System', 'Parking_Sensors', 'Customs_Cleared', 'Power_Windows', 'Power_Mirrors', 'year', 'time_idx', 'month_sin', 'month_cos', 'car_name_tencoded', 'fuel_type_tencoded', 'item_type_tencoded', 'owners_count_tencoded', 'car_condition_tencoded', 'color_tencoded', 'body_type_tencoded', 'state_tencoded']

In [18]:
# reorder input_df columns to match model

In [19]:
import pandas as pd
pd.DataFrame({
    "feature": model.feature_name_,
    "importance": model.feature_importances_
}).sort_values("importance", ascending=False)

                   feature  importance
1                  mileage       14830
15       car_name_tencoded        7970
2             release_year        7854
22          state_tencoded        4689
3            engine_volume        4195
12                time_idx        3190
20          color_tencoded        3174
16      fuel_type_tencoded        2394
0             transmission        1816
18   owners_count_tencoded        1446
19  car_condition_tencoded        1169
5          Air_Conditioner        1067
21      body_type_tencoded        1045
8          Customs_Cleared         741
7          Parking_Sensors         680
14               month_cos         610
6          Security_System         608
9            Power_Windows         534
11                    year         524
13               month_sin         512
17      item_type_tencoded         449
10           Power_Mirrors         401
4               brand_type         102